.header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;

  &__currency {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      list-style-type: none;
      text-align: left;
    }
  }
}
