@import "../../../assets/styles/colors.scss";

header {
  background-color: $primary-color;
  color: $dark-color;
  border-radius: 0 0 30px 30px;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.2);

  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    a {
      color: $white-color;
      text-decoration: none;
      margin: 0 10px;
      transition: color 0.3s ease;

      &.active {
        color: $dark-color;
        text-decoration: underline;
      }

      &:hover {
        color: #000;
        text-decoration: underline;
      }
    }
  }

.rates {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  ul {
    margin: 0;
    padding: 0;
    min-width: 350px;
    box-sizing: border-box;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style-type: none;
      text-align: left;
      font-size: 1.5rem;

      img {
        padding: 0 3px;
      }
    }
  }
}
}

