<h1>Currency converter</h1>
<section class="converter" *ngIf="!isLoading">
  <div class="converter__currency">
    <input type="number" [(ngModel)]="inputValue" (ngModelChange)="convertFromFirstCurrency()" />
    <select [(ngModel)]="firstCurrency" (ngModelChange)="convertFromFirstCurrency()">
      <option *ngFor="let currency of currencies" [value]="currency.name">{{ currency.name }} {{ currency.description }}</option>
    </select>
  </div>
  <p>=</p>
  <div class="converter__currency">
    <input type="number" [(ngModel)]="outputValue" (ngModelChange)="convertFromSecondCurrency()" />
    <select [(ngModel)]="secondCurrency" (ngModelChange)="convertFromSecondCurrency()">
      <option *ngFor="let currency of currencies" [value]="currency.name">{{ currency.name }} {{ currency.description }}</option>
    </select>
  </div>
</section>
<app-loader *ngIf="isLoading"></app-loader>
