@import '../../../assets/styles/colors.scss';

.converter {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 100px;

  &__currency {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}

h1 {
  margin: 0;
  padding: 20px;
  font-size: 3rem;
  text-align: center;
}

input[type="number"],
select {
  font-size: 2rem;
  background-color: $secondary-color;
  color: $dark-color;
  border: 3px solid $gray-color;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  min-width: 200px;
}

input[type="number"]:focus,
select:focus {
  outline: none;
  border-color: $primary-color;
}

