@import "normalize.css";
@import "./assets/styles/colors.scss";


* {
  font-family: 'Ubuntu', sans-serif;
}

html {
  font-size: 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
