$primary-color: #A0C49D;
$secondary-color: #C4D7B2;
$success-color: #E1ECC8;
$warning-color: #F7FFE5;
$danger-color: #FFC2B4;
$dark-color: #2E2E2E;
$light-color: #F2F2F2;
$white-color: #FFFFFF;
$black-color: #000000;
$gray-color: #808080;
$gray-light-color: #D3D3D3;
$gray-dark-color: #A9A9A9;


