:host {
  display: block;
  margin-top: 20px;
}

h2 {
  margin-bottom: 10px;
}

form {
  width: 300px;
  margin: 0 auto;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

button {
  width: 100%;
  margin-bottom: 20px;
}
