<h2>Login</h2>
<form (ngSubmit)="login()" #loginForm="ngForm">
  <mat-form-field>
    <input matInput placeholder="Email" type="email" required [(ngModel)]="email" name="email" #emailInput="ngModel" email>
    <mat-error *ngIf="emailInput.errors?.['required']">Email is required.</mat-error>
    <mat-error *ngIf="emailInput.errors?.['email']">Please enter a valid email.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password" type="password" required [(ngModel)]="password" name="password" #passwordInput="ngModel">
    <mat-error *ngIf="passwordInput.errors?.['required']">Password is required.</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit"
          [disabled]="!loginForm.form.valid"
          *ngIf="!isLoading"
  >
    Register
  </button>
  <app-loader *ngIf="isLoading"></app-loader>
</form>
